In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb

In [2]:
df=pd.read_csv('Used_Bikes[1].csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha

In [3]:
df.duplicated().sum()

np.int64(25324)

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum() #checking for missing values

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [7]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000,Delhi,48587,First Owner,8,150,Hero
9369,Bajaj Avenger 220cc,35000,Bangalore,60000,First Owner,9,220,Bajaj
9370,Harley-Davidson Street 750 ABS,450000,Jodhpur,3430,First Owner,4,750,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000,Hyderabad,21300,First Owner,4,400,Bajaj
9372,Bajaj Avenger Street 220,80000,Hyderabad,7127,First Owner,5,220,Bajaj

In [8]:
df['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [9]:
#labelencoding
dt = { "First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
#labelencoding=(1,2,3,..),onehotencoding(0,1),ordinalencoding()
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [10]:
df['owner'].map(dt) #passing dictionary dt--changes categorical to numerical using the above defined dictionary

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

In [11]:
# for ownership in df['owner']:
    # print(dt[ownership])
df['owner']= df['owner'].map(dt)

In [12]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,1,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,1,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,1,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,1,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,1,3,150,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000,Delhi,48587,1,8,150,Hero
9369,Bajaj Avenger 220cc,35000,Bangalore,60000,1,9,220,Bajaj
9370,Harley-Davidson Street 750 ABS,450000,Jodhpur,3430,1,4,750,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000,Hyderabad,21300,1,4,400,Bajaj
9372,Bajaj Avenger Street 220,80000,Hyderabad,7127,1,5,220,Bajaj

In [13]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [14]:
brand_ls = list(df['brand'].value_counts().head(16).keys())
brand_ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [15]:
df['brand'].nunique()

23

In [16]:
filtered_df = df[(df['brand'] >= 'Bajaj') & (df['brand'] <= 'Bmw')]
filtered_df

,bike_name,price,city,kms_driven,owner,age,power,brand
12,Bajaj Pulsar NS200,78000,Bangalore,9900,1,4,200,Bajaj
13,Bajaj Discover 100M,29499,Delhi,20000,1,8,100,Bajaj
14,Bajaj Discover 125M,29900,Delhi,20000,1,7,125,Bajaj
15,Bajaj Pulsar NS200 ABS,90000,Bangalore,11574,1,3,200,Bajaj
16,Bajaj Pulsar RS200 ABS,120000,Bangalore,23000,1,3,200,Bajaj
...,...,...,...,...,...,...,...,...
9360,Bajaj Pulsar NS200,48000,Allahabad,41939,1,8,200,Bajaj
9361,Bajaj Avenger 220cc,50000,Bangalore,29134,1,7,220,Bajaj
9369,Bajaj Avenger 220cc,35000,Bangalore,60000,1,9,220,Bajaj
9371,Bajaj Dominar 400 ABS,139000,Hyderabad,21300,1,4,400,Bajaj
9372,Bajaj Avenger Street 220,80000,Hyderabad,7127,1,5,220,Bajaj

In [17]:
df2 = df[df['brand'].isin(brand_ls)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,1,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,1,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,1,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,1,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,1,3,150,Yamaha

In [18]:
data_dic = {}
i = 1
for brand in list(df2['brand'].value_counts().keys()): 
    data_dic[brand] = i 
    i = i + 1
data_dic

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

In [19]:
brand_dict  = {brand:i for i , brand in enumerate(list(df2['brand'].value_counts().keys()),start=1)}
print(brand_dict)
df2['brand'] = df2['brand'].map(brand_dict)

{'Bajaj': 1, 'Royal Enfield': 2, 'Hero': 3, 'Honda': 4, 'Yamaha': 5, 'TVS': 6, 'KTM': 7, 'Suzuki': 8, 'Harley-Davidson': 9, 'Kawasaki': 10, 'Hyosung': 11, 'Mahindra': 12, 'Benelli': 13, 'Triumph': 14, 'Ducati': 15, 'BMW': 16}

C:\Users\AU COMPUTER'S\AppData\Local\Temp\ipykernel_10404\3369501460.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['brand'] = df2['brand'].map(brand_dict)

In [20]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,1,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,1,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,1,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,1,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,1,3,150,Yamaha

In [21]:
data_dic = {}
for i,item in enumerate(brand_ls,start=1): 
    data_dic[item]  = i  

data_dic

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

In [22]:
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,1,3,110,6
1,Royal Enfield Classic 350cc,119900,Delhi,11000,1,4,350,2
2,Triumph Daytona 675R,600000,Delhi,110,1,8,675,14
3,TVS Apache RTR 180cc,65000,Bangalore,16329,1,4,180,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,1,3,150,5

In [23]:
df2.drop(['bike_name','city'],axis=1,inplace=True)

C:\Users\AU COMPUTER'S\AppData\Local\Temp\ipykernel_10404\1642961446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['bike_name','city'],axis=1,inplace=True)

In [24]:
df2.head(2)

    price  kms_driven  owner  age  power  brand
0   35000       17654      1    3    110      6
1  119900       11000      1    4    350      2

In [25]:
x = df2.drop('price',axis=1)
y = df2[['price']]

In [26]:
y

       price
0      35000
1     119900
2     600000
3      65000
4      80000
...      ...
9362   25000
9369   35000
9370  450000
9371  139000
9372   80000

[7307 rows x 1 columns]

In [27]:
from sklearn.model_selection import train_test_split 
# scikit-learn

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [29]:
from sklearn.linear_model import LinearRegression   # algorithm import

In [30]:
lnr = LinearRegression()

In [31]:
lnr.fit(x_train,y_train)

LinearRegression()

In [32]:
x_train.shape

(5845, 5)

In [33]:
x_train.isnull().sum()

kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [34]:
x_train   # valueerror

      kms_driven  owner  age  power  brand
4504       15000      1    5    100      1
4386       10887      1    7    125      1
1557        7500      1    4    650     11
1940        3000      1    3    350      2
3123       13191      2    8    150      5
...          ...    ...  ...    ...    ...
7272        4877      1    2    100      1
2797       30000      1    6    100      3
3053       14201      1    5    350      2
2793       30000      1    7    125      4
5528       31298      1   12    350      2

[5845 rows x 5 columns]

In [35]:
# Assuming 'Owner' is the column with categorical data
x_train = pd.get_dummies(x_train, columns=['owner'])

In [43]:
lnr.score(x_train,y_train)*100   # 75% scored

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- owner_1
- owner_2
- owner_3
- owner_4
Feature names seen at fit time, yet now missing:
- owner

In [45]:
# unseen data or test data or validation data (x_test,y_test)
lnr.score(x_test,y_test)*100

63.35797086322623

In [46]:
## prediction 
prediction = lnr.predict(x_test)

In [47]:
y_test['prediction'] = prediction

In [48]:
y_test.head(40)

       price     prediction
7150   13000  -15293.574710
7959   42000   58155.796712
1916  177300  221276.120602
8455  125000  214168.318361
7265   25000   11335.782740
8094   17000  -14174.302540
8984  140000  216680.495524
7048   58500   95922.620853
7243   70000  131973.601548
2496   90000  102932.642632
1754  133100  232424.535367
6184   70000  104666.327682
6097   95000  218532.685076
241    54200   54433.838444
2551   36000   19163.716456
8164  240000  219879.367622
2730   17000   23983.713762
4619   20000    6955.413688
5133  170000  147070.979670
5968   14500  -23032.009499
223   202000  178448.916174
5082  283700  192205.014459
1859  140000  216688.649909
1688   23000    2594.724537
4245   32000   17221.494489
1000   55000   57233.145669
3993   48500   49984.491384
8457  124000  141370.109230
2161  180500  170394.286988
3932   48000   34283.450510
3936   70000  103489.323730
2555   99650  139651.083297
2178   65000   59961.999007
6085   29000    4661.197169
1729   58000   24735.992243
5493   35000   41646.504438
6802   70705   40820.448174
1791   22000    7861.703706
6690   85000   42686.133422
853   195000  161591.459128

In [53]:
import os, joblib

In [54]:
os.makedirs('models',exist_ok=True)

In [55]:
lnr     #algorithm and model

LinearRegression()

In [56]:
joblib.dump(lnr,"./models/linear_model.lb") #lnr saved in model

['./models/linear_model.lb']

In [61]:
salary=600000

In [62]:
salary

600000